<div class="row">
  <div class="sign_up_form">
    <div class="col-md-4 col-md-offset-4" id="sign_up">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
       
        <div class="field form-group">
          
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: " Enter your email" %>
        </div>

        <div class="field form-group">
          
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: " Enter your password" %>
        </div>

        <div class="field form-group">
          
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
        </div>
        
        <div class="actions text-center">
          <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
      <br>
      <div class="text-center">
        Already Signed Up? <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>

