




<section class="added-books">
	<div class="">
		<div class="">
			<div class="alert alert-info" role="alert">
			 	<i class="fa fa-heart-o"></i> &emsp;List of Organizations
			</div>
			<div class="books">
				<div class="headers-table">
					<div class="search_form">
						<%= search_form_for @search, url: admins_path do |f| %>

							<div class="">

								<div class="col-md-4 form-group">
									<%= f.text_field :org_name_cont, placeholder: "Company name", class: "form-control" %>
								</div>

								<div class="col-md-3 form-group">
									<%= f.search_field :user_email_cont, placeholder: "Email", class: "form-control" %>
								</div>
								
								<div class="col-md-4 form-group">
									<%= f.text_field :country_cont, placeholder: "country", class: "form-control" %>
								</div>
								
								
							</div>
							<div class="actions">
								<%= f.submit "search", class: "btn btn-primary" %>
							</div>
							
						<% end %>
					</div>
				</div>

				<div class="books-data">
					<table class="table table-bordered">
					    <thead>
					      <tr>
					        <th>id</th>
					        <th>Org name</th>
					        <th>Org Identifier</th>
					        <th>Created by</th>
					        <th>Country</th>
					        <th>Created at</th>
					        <th>Updated at</th>
					      </tr>
					    </thead>
					    <tbody>
					        <% @organizations.each do |o| %>
								<tr>
									<td><%= o.id %></td>
							        <td><%= o.org_name %></td>
							        <td><%= o.org_identifier %></td>
							        <td><%= o.user.email %></td>
							        <td><%= o.country %></td>
							        <td><%= o.created_at.strftime('%v') %></td>
							        <td><%= o.updated_at.strftime('%v') %></td>
							    </tr>
						    <% end %>
					      
					      
					    </tbody>
					</table>
				</div>

				
			</div>

			<div class="digg_pagination text-center">
			    <div class="page_info">
			      <%= page_entries_info @organizations %>
			    </div>
			    <%= will_paginate @organizations, :container => false %>
			</div>

		</div>
	</div>
</section>

