	<%= f.fields_for :address do |a| %>
		<div class="field form-group">
			<%= a.text_field :first_address, class: "form-control", placeholder: "Line 1" %>
		</div>
		<div class="field form-group">
			<%= a.text_field :second_address, class: "form-control", placeholder: "Line 2" %>
		</div>
	<% end %>