
	<%= f.fields_for :profile do |p| %>
		<div class="field form-group">
			<%= p.text_field :first_name, class: "form-control", placeholder: "First name" %>
		</div>
		<div class="field form-group">
			<%= p.text_field :last_name, class: "form-control", placeholder: "Last name" %>
		</div>
	<% end %>
