
<div class="org_form">
	

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@organisation, url: '/organisations', method: :post, validate: true) do |f| %>

			<div class="row">
				<div class="col-md-6">
					<div class="field form-group">
						<%= f.text_field :org_name, id: "name",  class: "form-control", placeholder: "Org name" %>
					</div>
					<div class="field form-group">
						<%= f.text_field :org_identifier, id: "display", class: "form-control", placeholder: "org_identifies", :readonly => true %>
					</div>
				</div>
				<div class="col-md-6">
					<%= render partial: "profile", locals: {f: f} %>
				</div>
			</div>

			<%= render partial: "address", locals: {f: f} %>
			

			<div class="row">
				<div class="col-md-6">
					<div class="field form-group">
						<%= f.text_field :city, class: "form-control", placeholder: "City" %>
					</div>
					<div class="field form-group">
						<%= f.text_field :state, class: "form-control", placeholder: "State" %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="field form-group">
						<%= f.text_field :country, class: "form-control", placeholder: "Country" %>
					</div>
					<div class="field form-group">
						<%= f.text_field :zip_code, class: "form-control" , placeholder: "Zip code" %>
					</div>
				</div>
			</div>
			


			<div class="action text-center">
				<%= f.submit "create", class: "btn btn-block btn-primary" %>
			</div>

		<% end %>
	</div>
</div>
"
<script>
	$('#name').keyup(function() {
	    $('#display').val($(this).val().toLowerCase().split(' ').join('_').replace(/[^a-zA-Z0-9_]/g, ''));
	});
</script>