

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if !user_signed_in? %>
        <a class="navbar-brand" href="/">Organization</a>
      <% else %>
        <%=  link_to "Organization", home_index_path, class: "navbar-brand" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
       
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-lg fa-dot-circle-o"></i></a></li>
        <% if !user_signed_in? %>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        <% else %>
            <li><%= link_to "Admin", admins_path if current_user.admin? %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>